
html, body {
    height: 100%;
}



.card-padding{
    padding-top: 80px;
}

.bg{
    text-align: center;

    background:url(background.jpg) no-repeat center center fixed; /* Center and scale the image nicely */
    /*full height*/
    height:100%;

    /*covers whole background in all browsers */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

